<div class="grand-parent">
  <ion-grid class="dash-grid">
    <ion-row class="header-title">
      <ion-col size="12">
        <ion-title mode="md" class="title-style">
          Absences & retards à valider :
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="absence">
      <ion-col
        class="absence-col-parent"
        size-sm="12"
        size-lg="6"
      >
        <div class="header">
          <div class="class">
            1AC2
          </div>
          <div class="date">
            Le 15 août 2022, 09:15 > 10 30
          </div>
        </div>
        <div class="main">
          <div class="info">
            <ion-img class="pic" src="assets/absence/pic.png"></ion-img>
            <div class="name">Mohamed Ali Kamal</div>
          </div>
          <div class="validation">
            <ion-button class="validate parent-icon">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
            <ion-button class="refuse parent-icon">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col
        class="absence-col-parent"
        size-sm="12"
        size-lg="6"
      >
        <div class="header">
          <div class="class">
            1AC2
          </div>
          <div class="date">
            Le 15 août 2022, 09:15 > 10 30
          </div>
        </div>
        <div class="main">
          <div class="info">
            <ion-img class="pic" src="assets/absence/pic.png"></ion-img>
            <div class="name">Mohamed Ali Kamal</div>
          </div>
          <div class="validation">
            <ion-button class="validate parent-icon">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
            <ion-button class="refuse parent-icon">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col
        class="absence-col-parent"
        size-sm="12"
        size-lg="6"
      >
        <div class="header">
          <div class="class">
            1AC2
          </div>
          <div class="date">
            Le 15 août 2022, 09:15 > 10 30
          </div>
        </div>
        <div class="main">
          <div class="info">
            <ion-img class="pic" src="assets/absence/pic.png"></ion-img>
            <div class="name">Mohamed Ali Kamal</div>
          </div>
          <div class="validation">
            <ion-button class="validate parent-icon">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
            <ion-button class="refuse parent-icon">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
