<ion-accordion-group
  class="grand-parent"
  #albumAccordion
  (ionChange)="getAlbumContent()"
>
  <ion-grid class="dash-grid">
    <ion-row class="header-title">
      <ion-col size="12">
        <ion-title mode="md" class="title-style">
          Albums photo à valider :
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="album" *ngIf="albums.length > 0">
      <ion-col
        class="album-col-parent"
        *ngFor="let album of albums; let i = index"
        size-sm="12"
        size-lg="6"
      >
        <ion-accordion [value]="album.Id">
          <div
            class="accordion-header"
            slot="header"
            (mousedown)="$event.preventDefault()"
          >
            <div class="image">
              <ion-img
                *ngFor="let mainPic of album.mainImage"
                [src]="mainPic"
                class="albuToValide"
                alt=""
              ></ion-img>
              <ion-badge mode="ios">
                <ion-img src="assets/imageIcon.svg"></ion-img>
                x{{ album.imageCount }}
              </ion-badge>
            </div>
            <div class="info">
              <p class="album-name">
                {{ album.label }}
                <span
                  class="group-style group"
                  *ngFor="let classe of album.classes"
                  >{{ classe }}</span
                >
              </p>
              <div class="mini-content">
                <span class="par">
                  Par <span class="name">{{ album.userName }}</span>
                </span>
                <span class="date"> {{ album.date }} </span>
              </div>
            </div>
            <div class="time-icon">
              <div class="icon">
                <ion-icon
                  name="chevron-down-outline"
                  class="ion-accordion-toggle-icon arrow"
                ></ion-icon>
              </div>
            </div>
          </div>
          <div slot="content" class="accordion-content">
            <div class="album" *ngIf="albumContent !== {}">
              <div class="content" [innerHTML]="albumContent['content']"></div>
              <div class="main" *ngIf="albumContent['images'] && album.imageCount > 0">
                <ion-button
                  class="navigation nextEl"
                  (click)="goToNext('swiper' + album.Id)"
                >
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
                <ion-button
                  class="navigation prevEl"
                  (click)="goToPrev('swiper' + album.Id)"
                >
                  <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-button>
                <div class="eleveTag" *ngIf="albumContent['eleveTag']">
                  <ng-container *ngFor="let tag of albumContent['eleveTag']; let i = index">
                    <ion-img class="img" *ngIf="i < 4" [src]="tag"></ion-img>
                  </ng-container>
                  <div class="count-tag img" *ngIf="albumContent['eleveTag'].length - 4 > 0">
                      + {{ albumContent['eleveTag'].length - 4 }}
                  </div>

                </div>
                <!-- <div>{{albumContent['images']}}</div> -->

                <ion-badge mode="ios" class="side-fractions">
                  <ion-img src="assets/imageIcon.svg"></ion-img>
                  <span>
                    <span style="font-weight: bold">{{ activeIndex }}/</span>
                    <span *ngIf="albumContent['images']">{{ albumContent['images'].length }}</span>
                  </span>
                </ion-badge>
                <swiper-container
                  #swiperContainer
                  [loop]="true"
                  class="albumSwiperContainer"
                  [id]="'swiper' + album.Id"
                  [pagination]="PaginationConfig"
                  [slidesPerView]="1"
                >
                  <swiper-slide>
                  </swiper-slide>
                </swiper-container>
              </div>
            </div>
            <div class="line"></div>
            <ion-footer mode="md">
              <ion-button
                shape="round"
                fill="clear"
                (click)="valideAlbum($event, album.Id, 'rejeter')"
                >Annuler</ion-button
              >
              <ion-button
                shape="round"
                fill="clear"
                (click)="valideAlbum($event, album.Id, 'validate')"
                >Valider l’album</ion-button
              >
            </ion-footer>
          </div>
        </ion-accordion>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="albums.length === 0" class="no-data">
      <ion-col>
        Aucune donnée disponible
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-accordion-group>
