<ion-accordion-group class="grand-parent" (ionChange)="accordionChange($event)" #messageGroup>
  <ion-grid class="dash-grid">
    <ion-row class="header-title">
      <ion-col size="12">
        <ion-title mode="md" class="title-style"> Messages non lus </ion-title>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="message" *ngIf="messagesNonLus.length !== 0"> -->
      <ion-row class="message" *ngIf="messagesNonLus.length !== 0">
        <ion-col
          class="message-col-parent"
          size-sm="12"
          size-lg="6"
          *ngFor="let item of messagesNonLus; let x = index"
        >
          <ion-accordion  [value]="item.isStudent ? 'student-' + item.Id : item.Id">
            <div
              class="accordion-header"
              slot="header"
              (mousedown)="$event.preventDefault()"
            >
              <ion-img [src]="item.pic"></ion-img>
              <div class="info">
                <p class="name">
                  {{ item.userName }}
                  <span class="group-style group" *ngIf="item.isStudent">{{ item.type }}</span>
                  <span class="enseignant" *ngIf="!item.isStudent">Enseignant</span>
                </p>
                <p class="mini-content">{{ item.lastMsg }}</p>
              </div>
              <div class="time-icon">
                <span class="time"> {{ item.date }} </span>
                <div class="icon">
                  <ion-icon
                    name="attach-outline"
                    class="link"
                    *ngIf="item.hasFile"
                  ></ion-icon>
                  <ion-icon
                    name="chevron-down-outline"
                    class="ion-accordion-toggle-icon arrow"
                  ></ion-icon>
                </div>
              </div>
            </div>
            <ion-grid slot="content" class="accordion-content">
              <ng-container *ngIf="+item.Id === +selectedOne">
                <ion-content (mousedown)="$event.preventDefault()" class="messages" [id]="'messages' + item.Id" #messages>
                  <ng-container *ngIf="!MsgIsLoad">
                    <ion-infinite-scroll #infinity threshold="0px" position="top"  (ionInfinite)="loadMsg($event)" >
                      <ion-infinite-scroll-content></ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                    <ng-container *ngFor="let m of selectedMsg; let i = index">
                      <ion-row
                        [class.otherUser]="+m.sendBy !== 1"
                        [class.authUser]="+m.sendBy === 1"
                      >
                        <ion-col
                          [size]="+m.sendBy === 1 ? 9 : 10"
                          [offset]="+m.sendBy !== 1 && 2"
                        >
                          <div class="message">{{ m.message }}</div>
                          <span class="download" *ngFor="let f of m.hasFile">
                            <ion-img
                              [src]="f.fileType"
                              class="MsgfileType"
                              ></ion-img>
                              <!-- [class]="f.type === 'pdf' ? 'pdf' : f.type === 'docx' ? 'word' : 'otherType'" -->
                            <div class="fileName">{{ f.fileName }}</div>
                            <ion-img
                              src="assets/downloads.svg"
                              class="fileBtn"
                              (click)="downloadFile(f.file ,f.fileName)"
                            ></ion-img>
                          </span>
                          <div class="other" >
                            <span class="par" *ngIf="+m.sendBy !== 1">
                              Par : {{ m.par }} ( <span *ngIf="m.role">Pére</span> <span *ngIf="!m.role">Mére</span>)
                            </span>
                            <span class="time">{{ m.date }}</span>
                          </div>
                        </ion-col>
                        <ion-col class="col-image" size="2" *ngIf="+m.sendBy === 1">
                          <ion-img src="assets/Ellipse1.png"></ion-img>
                        </ion-col>
                      </ion-row>
                      <div
                        class="line"
                        *ngIf="selectedMsg.length - 1 !== i"
                      ></div>
                    </ng-container>
                  </ng-container>
                  
                  <span *ngIf="MsgIsLoad" class="msgLoading">
                    
                    <ion-img src="assets/spinner.svg"></ion-img>
                  </span>
                </ion-content>
              </ng-container>
              <ion-footer mode="md">
                <ion-row>
                  <ion-col sizeSm="11" sizeMd="11" sizeLg="11" class="input">
                    <ion-button [id]="'click-trigger' + item.Id" >
                      <ion-icon name="attach-outline"></ion-icon>
                    </ion-button>
                    <!-- <ion-button >Left-Click Me</ion-button> -->
                    <ion-popover [trigger]="'click-trigger' + item.Id" side="top" alignment="start" triggerAction="click">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <ion-button expand="block" (click)="selectImages()">Image</ion-button>
                          <ion-button expand="block">document</ion-button>
                        </ion-content>
                      </ng-template>
                    </ion-popover>
                    <ion-textarea
                      placeholder="Taper un message"
                      style="margin: 0; height: 40px; --highlight-color: none"
                      [(ngModel)]="textVal"
                    ></ion-textarea>
                  </ion-col>
                  <ion-col
                    class="sendBtn"
                    size="3"
                    sizeSm="1"
                    sizeMd="1"
                    sizeLg="1"
                  >
                    <ion-button fill="clear" shape="round" class="icon" (click)="sendMsg($event, true)">
                      <ion-img src="assets/send.svg"></ion-img>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-footer>
            </ion-grid>
          </ion-accordion>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="messagesNonLus.length === 0" class="no-data">
        <ion-col>
          Aucune donnée disponible
        </ion-col>
      </ion-row>
      <ion-row class="header-title">
        <ion-col size="12">
          <ion-title mode="md" class="title-style"> Messages lus </ion-title>
        </ion-col>
      </ion-row>
      <ion-row class="message" *ngIf="messagesLus.length !== 0">
        <ion-col
          class="message-col-parent"
          size-sm="12"
          size-lg="6"
          *ngFor="let item of messagesLus; let x = index"
        >
          <ion-accordion  [value]="item.isStudent ? 'student-' + item.Id : item.Id">
            <div
              class="accordion-header"
              slot="header"
              (mousedown)="$event.preventDefault()"
            >
              <ion-img [src]="item.pic"></ion-img>
              <div class="info">
                <p class="name">
                  {{ item.userName }}
                  <span class="group-style group" *ngIf="item.isStudent">{{ item.type }}</span>
                  <span class="enseignant" *ngIf="!item.isStudent">Enseignant</span>
                </p>
                <p class="mini-content">{{ item.lastMsg }}</p>
              </div>
              <div class="time-icon">
                <span class="time"> {{ item.date }} </span>
                <div class="icon">
                  <ion-icon
                    name="attach-outline"
                    class="link"
                    *ngIf="item.hasFile"
                  ></ion-icon>
                  <ion-icon
                    name="chevron-down-outline"
                    class="ion-accordion-toggle-icon arrow"
                  ></ion-icon>
                </div>
              </div>
            </div>
            <ion-grid slot="content" class="accordion-content">
              <ng-container *ngIf="+item.Id === +selectedOne">
                <ion-content (mousedown)="$event.preventDefault()" class="messages" [id]="'messages' + item.Id">
                  <ng-container *ngIf="!MsgIsLoad">
                    <ion-infinite-scroll #infinity distance="1%" (ionInfinite)="loadMsg($event)" >
                      <ion-infinite-scroll-content></ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                    <ng-container *ngFor="let m of selectedMsg; let i = index">
                      <ion-row
                        [class.otherUser]="+m.sendBy !== 1"
                        [class.authUser]="+m.sendBy === 1"
                      >
                        <ion-col
                          [size]="+m.sendBy === 1 ? 9 : 10"
                          [offset]="+m.sendBy !== 1 && 2"
                        >
                          <div class="message">{{ m.message }}</div>
                          <span class="download" *ngFor="let f of m.hasFile">
                            <ion-img
                              [src]="f.fileType"
                              class="MsgfileType"
                              ></ion-img>
                            <div class="fileName">{{ f.fileName }}</div>
                            <ion-img
                              src="assets/downloads.svg"
                              class="fileBtn"
                              (click)="downloadFile(f.file ,f.fileName)"
                            ></ion-img>
                          </span>
                          <div class="other" >
                            <span class="par" *ngIf="+m.sendBy !== 1">
                              Par : {{ m.par }} ( <span *ngIf="m.role">Pére</span> <span *ngIf="!m.role">Mére</span>)
                            </span>
                            <span class="time">{{ m.date }}</span>
                          </div>
                        </ion-col>
                        <ion-col class="col-image" size="2" *ngIf="+m.sendBy === 1">
                          <ion-img src="assets/Ellipse1.png"></ion-img>
                        </ion-col>
                      </ion-row>
                      <div
                        class="line"
                        *ngIf="selectedMsg.length - 1 !== i"
                      ></div>
                    </ng-container>
                  </ng-container>
                  
                  <span *ngIf="MsgIsLoad" class="msgLoading">
                    
                    <ion-img src="assets/spinner.svg"></ion-img>
                  </span>
                </ion-content>
              </ng-container>
              <ion-footer mode="md">
                <ion-row>
                  <ion-col sizeSm="11" sizeMd="11" sizeLg="11" class="input">
                    <ion-button [id]="'click-trigger' + item.Id" >
                      <ion-icon name="attach-outline"></ion-icon>
                    </ion-button>
                    <!-- <ion-button >Left-Click Me</ion-button> -->
                    <ion-popover [trigger]="'click-trigger' + item.Id" triggerAction="click">
                      <ng-template>
                        <ion-button expand="block" (click)="selectImages()">Image</ion-button>
                          <ion-button expand="block">document</ion-button>
                      </ng-template>
                    </ion-popover>
                    <ion-textarea
                      placeholder="Taper un message"
                      style="margin: 0; height: 40px; --highlight-color: none"
                      [(ngModel)]="textVal"
                      (ionChange)="$event.stopPropagation()"
                    ></ion-textarea>
                  </ion-col>
                  <ion-col
                    class="sendBtn"
                    size="3"
                    sizeSm="1"
                    sizeMd="1"
                    sizeLg="1"
                  >
                    <ion-button fill="clear" shape="round" class="icon" (click)="sendMsg($event, true)">
                      <ion-img src="assets/send.svg"></ion-img>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-footer>
            </ion-grid>
          </ion-accordion>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="messagesLus.length === 0" class="no-data">
        <ion-col>
          Aucune donnée disponible
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-accordion-group>


<!-- <span class="notification"> {{ item.meesagesNonLu }} </span> -->
