<ion-accordion-group
  #ressourceAccordion
  id="ressourceAccordion"
  class="grand-parent"
  (ionChange)="getRessourceContent()"
>
  <ion-grid class="dash-grid">
    <ng-container *ngIf="!dataIsLoad">
      <ion-row class="header-title">
        <ion-col size="12">
          <ion-title mode="md" class="title-style">
            Ressources à valider
          </ion-title>
        </ion-col>
      </ion-row>
      <ion-row class="ressource" *ngIf="non_validated_ressources.length > 0">
        <ion-col
          class="ressource-col-parent"
          size-sm="12"
          size-lg="6"
          *ngFor="let nValidateR of non_validated_ressources"
        >
          <ion-accordion [value]="nValidateR.Id">
            <div
              class="accordion-header"
              (mousedown)="$event.preventDefault()"
              slot="header"
            >
              <div
                class="image"
                [class]="nValidateR.typeFile === 'pdf' ? 'pdf' : nValidateR.typeFile === 'docx' ? 'word' : 'other'"
              >
                <ion-img
                  [src]="nValidateR.File"
                >
                </ion-img>
              </div>
              <div class="info">
                <p class="ressource-name">
                  {{ nValidateR.label | slice:0:50 }}<span
                    *ngIf="nValidateR.label.length > 50"
                    >...</span
                  >
                </p>
                <div class="mini-content">
                  <span class="par">
                    Par <span class="name"> {{ nValidateR.userName }} </span>
                  </span>
                  <span class="subject"> {{ nValidateR.Matiere }} </span>
                    <span
                      class="group-style group"
                      *ngFor="let classe of nValidateR.classes"
                    >
                      {{ classe }}
                    </span>
                </div>
              </div>
              <div class="time-icon">
                <div class="icon">
                  <ion-icon
                    name="chevron-down-outline"
                    class="ion-accordion-toggle-icon arrow"
                  ></ion-icon>
                </div>
              </div>
            </div>
            <div slot="content" class="accordion-content">
              <div class="ressources">
                <div class="date">Le {{ ressourceContent['date'] }}</div>
                <div
                  class="text-content"
                >
                  <span class='description'>Description : </span>
                  <span [innerHTML]="ressourceContent['content']"></span>
                </div>
                <span class="download" *ngIf="ressourceContent['file']">
                  <ion-img
                    [src]="nValidateR.typeFile === 'pdf' ? 'assets/documents/insideDownload/pdf.png' : nValidateR.typeFile === 'docx' ? 'assets/documents/word.png' : 'assets/documents/other.png'"
                    class="fileType"
                    [class]="nValidateR.typeFile === 'pdf' ? 'pdf' : nValidateR.typeFile === 'docx' ? 'word' : 'other'"
                  >
                  </ion-img>
                  <div class="fileName">
                    {{ splitFileNameToArray(ressourceContent['file'].fileName)[0]
                    | slice:0:21 }}
                    <span
                      *ngIf="splitFileNameToArray(ressourceContent['file'].fileName)[0].length > 21"
                      >...</span
                    >
                    . {{
                    splitFileNameToArray(ressourceContent['file'].fileName)[1] }}
                  </div>
                  <ion-icon name="eye-outline" class="fileBtn"></ion-icon>
                  <ion-img src="assets/downloads.svg" class="fileBtn" (click)="downloadFile(ressourceContent['file'].fileLink ,ressourceContent['file'].fileName)"></ion-img>
                </span>
              </div>
              <div class="line">
              </div>
              <ion-footer mode="md">
                <ion-button
                  shape="round"
                  fill="clear"
                  (click)="valideRessource($event, nValidateR.Id, 'rejeter')"
                  >Rejeter</ion-button
                >
                <ion-button
                  shape="round"
                  fill="clear"
                  (click)="valideRessource($event, nValidateR.Id, 'validate')"
                  >valider</ion-button
                >
              </ion-footer>
            </div>
          </ion-accordion>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="non_validated_ressources.length === 0" class="no-data">
        <ion-col>
          Aucune donnée disponible
        </ion-col>
      </ion-row>
      <ion-row class="header-title">
        <ion-col size="12">
          <ion-title mode="md" class="title-style">
            Ressources validées
          </ion-title>
        </ion-col>
      </ion-row>
      <ion-row class="ressource" *ngIf="validated_ressources.length > 0">
        <ion-col
          class="ressource-col-parent"
          size-sm="12"
          size-lg="6"
          *ngFor="let validated of validated_ressources"
        >
          <ion-accordion [value]="validated.Id">
            <div
              class="accordion-header"
              (mousedown)="$event.preventDefault()"
              slot="header"
              (click)="openValidation($event)"
            >
              <div
                class="image"
                [class]="validated.typeFile === 'pdf' ? 'pdf' : validated.typeFile === 'docx' ? 'word' : 'other'"
              >
                <ion-img
                  [src]="validated.File"
                >
                </ion-img>
              </div>
              <div class="info">
                <p class="ressource-name">
                  {{ validated.label | slice:0:50 }}<span
                    *ngIf="validated.label.length > 50"
                    >...</span
                  >
                </p>
                <div class="mini-content">
                  <span class="par">
                    Par <span class="name"> {{ validated.userName }} </span>
                  </span>
                  <span class="subject"> {{ validated.Matiere }} </span>
                  <span class="group-parent">
                    <span
                      class="group-style group"
                      *ngFor="let classe of validated.classes"
                    >
                      {{ classe }}
                    </span>
                  </span>
                </div>
              </div>
              <div class="time-icon">
                <div class="icon">
                  <ion-icon
                    name="chevron-down-outline"
                    class="ion-accordion-toggle-icon arrow"
                  ></ion-icon>
                </div>
              </div>
            </div>
            <div slot="content" class="accordion-content">
              <div
                class="validation"
                [class.valide]="validated.visible"
                [class.nvalide]="!validated.visible"
              >
                <ion-icon [name]="validated.visible ?'checkmark-outline' : 'close-outline'" class="icon"></ion-icon>
                <span>Ressource <span *ngIf="validated.visible">validée</span> <span *ngIf="!validated.visible">rejetée</span></span>
                <ion-button class="absolute" fill="outline" shape="round" (click)="closeValidation($event, validated.Id)">
                  <ion-icon name="reload-outline" slot="start"></ion-icon>
                  Revoire
                </ion-button>
              </div>
              <div class="ressources">
                <div class="date">Le {{ ressourceContent['date'] }}</div>
                <div
                  class="text-content"
                  [innerHTML]="ressourceContent['content']"
                >
                </div>
                <span class="download" *ngIf="ressourceContent['file']">
                  <ion-img
                    [src]="validated.typeFile === 'pdf' ? 'assets/documents/insideDownload/pdf.png' : validated.typeFile === 'docx' ? 'assets/documents/word.png' : 'assets/documents/other.png'"
                    class="fileType"
                    [class]="validated.typeFile === 'pdf' ? 'pdf' : validated.typeFile === 'docx' ? 'word' : 'other'"
                  >
                  </ion-img>
                  <div class="fileName">
                    {{ splitFileNameToArray(ressourceContent['file'].fileName)[0]
                    | slice:0:21 }}
                    <span
                      *ngIf="splitFileNameToArray(ressourceContent['file'].fileName)[0].length > 21"
                      >...</span
                    >
                    . {{
                    splitFileNameToArray(ressourceContent['file'].fileName)[1] }}
                  </div>
                  <ion-icon name="eye-outline" class="fileBtn"></ion-icon>
                  <ion-img src="assets/downloads.svg" class="fileBtn" (click)="downloadFile(ressourceContent['file'].fileLink ,ressourceContent['file'].fileName)"></ion-img>
                </span>
              </div>
            </div>
          </ion-accordion>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="validated_ressources.length === 0" class="no-data">
        <ion-col>
          Aucune donnée disponible
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-list *ngIf="dataIsLoad">
      <ion-list-header>
        <ion-skeleton-text
          [animated]="true"
          style="width: 80px"
        ></ion-skeleton-text>
      </ion-list-header>
      <ion-item *ngFor="let i of [0, 1, 2, 3]" style="height: 90px; --inner-padding-end: 0; display: flex;">
        <ion-thumbnail
          slot="start"
          style="border-radius: 7px; overflow: hidden; height: 51px; width: 51px;"
        >
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80%"
            ></ion-skeleton-text>
          </h3>
          <p style="display: flex; gap: 6px;">
            <span style="width: 20%;">
              <ion-skeleton-text
                [animated]="true"
              ></ion-skeleton-text>
            </span>
            <span style="width: 20%;">
              <ion-skeleton-text
                [animated]="true"
              ></ion-skeleton-text>
            </span>
            <span style="width: 10%;">
              <ion-skeleton-text
                [animated]="true"
                style="border-radius: 20px;"
              ></ion-skeleton-text>
            </span>
          </p>
        </ion-label>
      </ion-item>
      <ion-list-header>
        <ion-skeleton-text
          [animated]="true"
          style="width: 80px"
        ></ion-skeleton-text>
      </ion-list-header>
      <ion-item *ngFor="let i of [0, 1]" style="height: 90px; --inner-padding-end: 0; display: flex;">
        <ion-thumbnail
          slot="start"
          style="border-radius: 7px; overflow: hidden; height: 51px; width: 51px;"
        >
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80%"
            ></ion-skeleton-text>
          </h3>
          <p style="display: flex; gap: 6px;">
            <span style="width: 20%;">
              <ion-skeleton-text
                [animated]="true"
              ></ion-skeleton-text>
            </span>
            <span style="width: 20%;">
              <ion-skeleton-text
                [animated]="true"
              ></ion-skeleton-text>
            </span>
            <span style="width: 10%;">
              <ion-skeleton-text
                [animated]="true"
                style="border-radius: 20px;"
              ></ion-skeleton-text>
            </span>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-accordion-group>
